<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.study.mapper.AdminMapper">


	<!-- 상품 등록 -->
  	<insert id="bookEnroll">
  		
  			<selectKey resultType="int" keyProperty="bookId" order="BEFORE">
  		
  			SELECT MAX(bookId)+1 FROM mall_book
  		
  			</selectKey>
  		
  		insert into mall_book(bookId, bookName, authorId, publeYear, publisher, cateCode, bookPrice, bookStock, bookDiscount, bookIntro, bookContents)
		values(mall_book_seq.nextval, #{bookName},#{authorId}, #{publeYear},#{publisher},#{cateCode},#{bookPrice},#{bookStock},#{bookDiscount},#{bookIntro},#{bookContents})

  	</insert>


	<!-- 카테고리 리스트 -->
  	<select id="cateList" resultType="com.study.model.CateVO">
  	
  		select * from mall_bcate order by catecode
  	
  	</select>
  	
  	<!-- 상품리스트 -->
  	<select id="goodsGetList" resultType="com.study.model.BookVO">
	
	<![CDATA[
	select * from(
		    select /*+INDEX_DESC(vam_book SYS_C007551)*/ rownum as rn, bookId, bookName,
		        (select authorName from mall_author where mall_book.authorId = mall_author.authorId) authorName,
		        (select cateName from mall_bcate where mall_book.cateCode = mall_bcate.cateCode) cateName,bookStock,regDate
		    from mall_book 
		    where 
	
	]]>
	
	
	  <if test="keyword != null">
		    
			    bookName like '%' || #{keyword} || '%' and
			    
		    </if>
	
	
	
	<![CDATA[
	 rownum <= #{pageNum} * #{amount} 
		    )
		where rn > (#{pageNum} -1) * #{amount} 
	]]>
	
	
	
	
	</select>
	
	
	<!-- 상품 총 개수 -->
  	<select id="goodsGetTotal" resultType="int">
  	select count(*) from mall_book
  	
  	<if test="keyword != null">
  		
  			where bookName like '%' || #{keyword} || '%'
  		</if>
  		
  	</select>
  	
  	
  	<!-- 상품 조회 페이지 -->
	<select id="goodsGetDetail" resultType="com.study.model.BookVO">
  	  select bookId, bookName, (select authorName from mall_author where authorId = mall_book.authorId) authorName, 
			authorId, publeYear, publisher, cateCode, bookPrice, bookStock, bookDiscount, bookIntro, bookContents, regDate, updateDate 
		from mall_book where bookId = #{bookId}
	
	</select>
	
	<!-- 상품 정보 수정 -->
	<update id="goodsModify">
		
		update mall_book set bookName = #{bookName}, authorId = #{authorId}, publeYear = #{publeYear}, publisher = #{publisher}, cateCode = ${cateCode}, 
		bookPrice = #{bookPrice}, bookStock = #{bookStock}, bookDiscount = #{bookDiscount}, bookIntro = #{bookIntro}, bookContents = #{bookContents}, updateDate = sysdate
		where bookId = ${bookId}
		
	</update>
	
	<!-- 상품 정보 삭제 -->
	<delete id="goodsDelete">
	
		delete from mall_book where bookId = #{bookId}
	
	</delete>
	
	<!-- 이미지 등록 -->
	<insert id="imageEnroll">
	
		insert into mall_image(bookId, fileName, uploadPath, uuid) values (#{bookId}, #{fileName}, #{uploadPath}, #{uuid})
	
	</insert>
	
	<!-- 지정 상품 이미지 전체 삭제 --> 
	<delete id="deleteImageAll">
	
		delete FROM mall_image where bookId = #{bookId}
	
	</delete>
	
	<!-- 어제자 날자 이미지 리스트 -->
	<select id="checkFileList" resultType="com.study.model.AttachImageVO">
	
		select * from mall_image where uploadpath = to_char(sysdate -1, 'yyyy\mm\dd')	
	
	</select>
	
	<!-- 지정 상품 이미지 정보 얻기 -->
	<select id="getAttachInfo" resultType="com.study.model.AttachImageVO">
	
		select * from mall_image where bookId = #{bookId}
	
	</select>
	
	<!-- 주문 리스트 -->
	<select id="getOrderList" resultType="com.study.model.OrderDTO">
		<![CDATA[
		select * 
		from(
		    select rownum rn, orderId, memberrId, orderstate, orderdate
		    from mall_order
		    where rownum <= #{pageNum} * #{amount} 
		]]>    
		<if test="keyword != null">
			and memberrId like '%'||#{keyword}||'%'
		</if>
		<![CDATA[
		    
		    order by orderdate desc
		    )
		where rn > (#{pageNum} -1) * #{amount}
		]]>
	</select>	
	
	<!-- 상품 총 개수 -->
	<select id="getOrderTotal" resultType="int">
	
		select count(*) from mall_order
		
	    <if test="keyword != null">
	    	where memberrId like '%'||#{keyword}||'%'
	    </if>
	
	</select>
	
	
	
	
  </mapper>